<div>
    <h2 id="page-heading">
        <span>Cidadaos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cidadao" [routerLink]="['/cidadao/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Cidadao
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="cidadaos?.length === 0">
        <span>No cidadaos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="cidadaos && cidadaos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nome"><span>Nome</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sexo"><span>Sexo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span>Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nascimento"><span>Nascimento</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="endereco.id"><span>Endereco</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let cidadao of cidadaos ;trackBy: trackId">
                    <td><a [routerLink]="['/cidadao', cidadao.id, 'view']">{{ cidadao.id }}</a></td>
                    <td>{{ cidadao.nome }}</td>
                    <td>{{ cidadao.sexo }}</td>
                    <td>{{ cidadao.email }}</td>
                    <td>{{ cidadao.nascimento | date:'mediumDate' }}</td>
                    <td>
                        <div *ngIf="cidadao.endereco">
                            <a [routerLink]="['/endereco', cidadao.endereco?.id, 'view']" >{{ cidadao.endereco?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/cidadao', cidadao.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/cidadao', cidadao.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(cidadao)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
