<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Criar conta</h1>

            <div class="alert alert-success" *ngIf="success">
                <strong>Conta criada!</strong> Por favor verifique seu e-mail para confirmação.
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>Erro ao criar conta!</strong> Tente novamente.
            </div>

            <div class="alert alert-danger" *ngIf="errorUserExists">
                <strong>Usuário já registrado!</strong> Escolha outro.
            </div>

            <div class="alert alert-danger" *ngIf="errorEmailExists">
                <strong>Email já registrado!</strong> Escolha outro.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                A senha e a confirmação da senha precisam ser iguais!
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">
                <div class="form-group">
                    <label class="form-control-label" for="login">Usuário</label>
                    <input type="text" class="form-control" id="login" name="login" placeholder="usuário"
                           formControlName="login" #login>

                    <div *ngIf="registerForm.get('login')!.invalid && (registerForm.get('login')!.dirty || registerForm.get('login')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('login')?.errors?.required">
                            Usuário é obrigatório.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('login')?.errors?.minlength">
                            Usuário é obrigatório e precisa de ter no mínimo 1 caracter.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('login')?.errors?.maxlength">
                            Usuário não pode ter mais de 50 caracteres.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('login')?.errors?.pattern">
                            Usuário śo pode conter letras e dígitos.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="email"
                             formControlName="email">

                    <div *ngIf="registerForm.get('email')!.invalid && (registerForm.get('email')!.dirty || registerForm.get('email')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('email')?.errors?.required">
                            Email é obrigatório.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('email')?.errors?.invalid">
                            Email inválido.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('email')?.errors?.minlength">
                            Email é obrigatório e deve ter no mínimo 5 caracteres.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('email')?.errors?.maxlength">
                            Email não pode ter mais de 100 caracteres.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="password">Senha</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="senha"
                            formControlName="password">

                    <div *ngIf="registerForm.get('password')!.invalid && (registerForm.get('password')!.dirty || registerForm.get('password')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('password')?.errors?.required">
                            Senha é obrigatória.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('password')?.errors?.minlength">
                            Senha é obrigatória e deve ter no mínimo 4 caracteres.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('password')?.errors?.maxlength">
                            Senha não pode ter mais de 50 caracteres.
                        </small>
                    </div>

                    <jhi-password-strength-bar [passwordToCheck]="registerForm.get('password')!.value"></jhi-password-strength-bar>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">Confirmação de senha</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="confirmação"
                            formControlName="confirmPassword">

                    <div *ngIf="registerForm.get('confirmPassword')!.invalid && (registerForm.get('confirmPassword')!.dirty || registerForm.get('confirmPassword')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('confirmPassword')?.errors?.required">
                            Confirmação de senha é obrigatória.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('confirmPassword')?.errors?.minlength">
                            Confirmação de senha é obrigatória e deve ter no mínimo 4 caracteres.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('confirmPassword')?.errors?.maxlength">
                            Confirmação de senha não pode ter mais de 50 caracteres.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary">Criar conta</button>
            </form>

        </div>
    </div>
</div>
