<div class="d-flex flex-column flex-md-row align-items-center p-3 mb-3 box-shadow border-bottom">
    <h5 class="my-0 mr-md-auto font-weight-normal">Prefeitura de Bom Destino</h5>
    <nav class="my-2 my-md-0 mr-md-3" style="display: inline-flex">
        <a class="p-2 text-dark" routerLink="/" (click)="collapseNavbar()">
            Inicio
        </a>

        <ul class="navbar-nav ml-auto" style="padding: 4px">
            <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                Minha conta
            </a>

            <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu" [ngSwitch]="isAuthenticated()">
                <li *ngSwitchCase="true">
                    <a class="dropdown-item" routerLink="account/settings" routerLinkActive="active" (click)="collapseNavbar()">
                        <fa-icon icon="wrench" [fixedWidth]="true"></fa-icon>
                        <span>Configurações</span>
                    </a>
                </li>
                <li *ngSwitchCase="true">
                    <a class="dropdown-item" routerLink="account/password" routerLinkActive="active" (click)="collapseNavbar()">
                        <fa-icon icon="lock" [fixedWidth]="true"></fa-icon>
                        <span>Senha</span>
                    </a>
                </li>
                <li *ngSwitchCase="true">
                    <a class="dropdown-item" (click)="logout()" id="logout">
                        <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
                        <span>Sair</span>
                    </a>
                </li>
                <li *ngSwitchCase="false">
                    <a class="dropdown-item" (click)="login()" id="login">
                        <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
                        <span>Login</span>
                    </a>
                </li>
                <li *ngSwitchCase="false">
                    <a class="dropdown-item" routerLink="account/register" routerLinkActive="active" (click)="collapseNavbar()">
                        <fa-icon icon="user-plus" [fixedWidth]="true"></fa-icon>
                        <span>Criar conta</span>
                    </a>
                </li>
            </ul>
        </li>
        </ul>
    </nav>
</div>
