<div class="pt-5 text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-9 mx-auto">
                <h1 class="display-4">SGM</h1>
                <p class="lead">Sistema de Gestão Municipal</p>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <div class="container">
        <div class="row pt-4">
            <div class="col-md-6">
                <div class="card mb-6' box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Serviços ao cidadão</h4>
                    </div>
                    <div class="card-body">
                        <h4>
                            Acesso a vários serviços disponibilizados pela Prefeitura para o Cidadão
                        </h4>
<!--                        <a class="dropdown-item" routerLink="cidadao" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span>Cidadao</span>
                        </a>-->
                        <button type="button" class="btn btn-lg btn-block btn-primary"
                                routerLink="cidadao/new" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Acessar</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-6 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Dados consolidados</h4>
                    </div>
                    <div class="card-body">
                        <h4>
                            Consolidação de informações provenientes de vários sistemas
                        </h4>
                        <button type="button" class="btn btn-lg btn-block btn-primary"
                                routerLink="cidadao" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Acessar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Original



<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>

    <div class="col-md-9">
        <h1 class="display-4">Welcome, Java Hipster!</h1>

        <p class="lead">This is your homepage</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account">You are logged in as user "{{ account.login }}".</span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>If you want to </span>
                <a class="alert-link" (click)="login()">sign in</a><span>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="account/register">Register a new account</a>
            </div>
        </div>
    </div>
</div>
-->
